@page "/ManageUser"
@using MonitorPet.Ui.Client.Services
@using MonitorPet.Ui.Shared.Model.Email
@using MonitorPet.Ui.Shared.Model.User

@inject HttpClient _client
@inject UserInfoService _userInfo

<div class="container-md">

    <ErrorComponent Errors="Errors"></ErrorComponent>
    <SuccessComponent Successes="Suc"></SuccessComponent>
    <InformationComponent Infos="Infos"></InformationComponent>

    <h1 class="text-primary">Editar Perfil</h1>
    <hr>
    <div class="row">
        <div class="col-md">

            <h3 class="h3 mb-3">Informações pessoais</h3>

            <EditForm Model="UserModel" OnValidSubmit="(async ()=> await UpdateUser())">
                <DataAnnotationsValidator />

                <div class="form-group mb-2">
                    <label class="col-lg-3 control-label">Nome:</label>
                    <div class="col-lg-8">
                        <InputText class="form-control" type="text" @bind-Value="UserModel.Name" />
                        <ValidationMessage For="(() => UserModel.Name)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label class="col-lg-3 control-label">Apelido:</label>
                    <div class="col-lg-8">
                        <InputText class="form-control" type="text" @bind-Value="UserModel.NickName" />
                        <ValidationMessage For="(() => UserModel.NickName)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label class="col-lg-3 control-label">E-mail:</label>
                    <div class="col-lg-8">
                        <InputText class="form-control" type="text" @bind-Value="UserModel.Email" />
                        <ValidationMessage For="(() => UserModel.Email)"></ValidationMessage>
                    </div>
                </div>

                <div class="form-group mt-2 text-start">
                    <button type="submit" class="btn btn-outline-primary">Salvar</button>
                </div>
            </EditForm>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-md">

            <h3 class="h3 mb-3">Atualizar senha</h3>

            <EditForm Model="UpdatePassword" OnValidSubmit="(async ()=> await UpdateUserPassword())">
                <DataAnnotationsValidator />

                <div class="form-group mb-2">
                    <label class="col-lg-3 control-label">Senha antiga:</label>
                    <div class="col-lg-8">
                        <InputText type="password" class="form-control" @bind-Value="UpdatePassword.OldPassword" />
                        <ValidationMessage For="(() => UpdatePassword.OldPassword)"></ValidationMessage>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <label class="col-lg-3 control-label">Nova senha:</label>
                    <div class="col-lg-8">
                        <InputText type="password" class="form-control" @bind-Value="UpdatePassword.NewPassword" />
                        <ValidationMessage For="(() => UpdatePassword.NewPassword)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label class="col-lg-3 control-label">Confirmar senha:</label>
                    <div class="col-lg-8">
                        <InputText type="password" class="form-control" @bind-Value="UpdatePassword.ConfirmPassword" />
                        <ValidationMessage For="(() => UpdatePassword.ConfirmPassword)"></ValidationMessage>
                    </div>
                </div>

                <div class="form-group mt-2 mb-5 text-start">
                    <button type="submit" class="btn btn-outline-primary">Alterar</button>
                </div>
            </EditForm>
        </div>
    </div>

    <hr />
    <div class="row">

        <h3 class="h3 mb-3">Configurações de e-mail</h3>

        <div>
            @foreach (var emailConfig in _mailsAvailables)
            {
                <div class="form-check">
                    <input @onchange="((e)=>ChangeInputEmailConfig(e, emailConfig.Type))"
                        class="form-check-input" 
                        type="checkbox" 
                        value="" 
                        id="@(emailConfig.Type)-config" 
                        checked="@(_createOrUpdateRoleEmailUserModel.Roles.Contains(emailConfig.Type))">
                    <label class="form-check-label" for="@(emailConfig.Type)-config">
                        @emailConfig.Description
                    </label>
                </div>
            }


            <div class="form-group mt-2 mb-5 text-start" @onclick="(async ()=> await TryCreateOrUpdate())">
                <button type="submit" class="btn btn-outline-primary @(_mailsAvailables.Any() ? null : "disabled" )">Alterar</button>
            </div>
        </div>

    </div>
</div>

@code {
    private List<string> Errors { get; } = new();
    private List<string> Infos { get; } = new();
    private List<string> Suc { get; } = new();

    private IEnumerable<EmailTypeViewModel> _mailsAvailables
        = Enumerable.Empty<EmailTypeViewModel>();

    private IEnumerable<QueryRoleEmailUserViewModel> _rolesEmails
        = Enumerable.Empty<QueryRoleEmailUserViewModel>();

    private UpdateUserViewModel UserModel { get; set; } = new();
    private UpdateUserViewModel? OldUserModel { get; set; }

    private UpdatePasswordViewModel UpdatePassword { get; set; } = new();
    private CreateOrUpdateRoleEmailUserViewModel _createOrUpdateRoleEmailUserModel { get; } = new();

    protected override async Task OnInitializedAsync()
    {
        var currUser = await TryGetUserModel();

        if (currUser is null)
        {
            Errors.Add("Falha ao coletar usuário.");
            return;
        }

        OldUserModel = new()
            {
                Email = currUser.Email,
                Name = currUser.Name,
                NickName = currUser.NickName
            };

        await TryUpdateEmailConfig();

        UserModel.Email = currUser.Email;
        UserModel.Name = currUser.Name;
        UserModel.NickName = currUser.NickName;
    }

    private async Task<QueryUserViewModel?> TryGetUserModel()
    {
        const string QUERY = "api/user/{id}";

        try
        {
            var userInfo = await _userInfo.GetUserInfo();

            if (userInfo is null)
                return null;

            using var responseQuery = await _client.GetAsync(
                QUERY.Replace("{id}", userInfo.Id.ToString()));

            if (!responseQuery.IsSuccessStatusCode)
            {
                return null;
            }

            return await responseQuery.Content.ReadFromJsonAsync<QueryUserViewModel>();
        }
        catch
        {
            return null;
        }
    }

    private async Task UpdateUser()
    {
        const string PATCH = "api/user";

        ClearAlerts();

        if (IsOldUpdateUserEquals())
        {
            Infos.Add("Nenhum dado alterado.");
            return;
        }

        try
        {
            using var contentJson = JsonContent.Create(UserModel);

            using var responsePatch = await _client.PatchAsync(PATCH, contentJson);

            var errors = await responsePatch.TryGetErrors();

            if (errors.ContainsError)
            {
                Errors.AddRange(errors.ErrorsMessages);
                return;
            }

            Suc.Add("Informações do usuário atualizadas com sucesso!");

            OldUserModel = new()
                {
                    Email = UserModel.Email,
                    Name = UserModel.Name,
                    NickName = UserModel.NickName
                };
        }
        catch
        {
            Errors.Add("Falha ao realizar atualização.");
        }
    }

    private async Task UpdateUserPassword()
    {
        ClearAlerts();

        const string PATCH = "api/user/password";

        try
        {
            using var contentJson = JsonContent.Create(UpdatePassword);

            using var responsePatch = await _client.PatchAsync(PATCH, contentJson);

            var errors = await responsePatch.TryGetErrors();

            if (errors.ContainsError)
            {
                Errors.AddRange(errors.ErrorsMessages);
                return;
            }

            Suc.Add("Senha atualizada com sucesso!");
        }
        catch
        {
            Errors.Add("Falha ao atualizar senha.");
        }
    }

    private bool IsOldUpdateUserEquals()
    {
        if (OldUserModel is null)
            return true;

        if (UserModel.Email == OldUserModel.Email &&
            UserModel.Name == OldUserModel.Name &&
            UserModel.NickName == OldUserModel.NickName)
            return true;

        return false;
    }

    private async Task TryUpdateEmailConfig(bool clearErrors = true)
    {
        if (clearErrors)
            ClearAlerts();

        _mailsAvailables = await TryGetAvailables();
        _rolesEmails = await TryGetFromUser();
        _createOrUpdateRoleEmailUserModel.Roles.Clear();
        _createOrUpdateRoleEmailUserModel.Roles.AddRange(_rolesEmails.Select(r => r.Type));
    }

    private async Task<bool> TryCreateOrUpdate()
    {
        const string PATCH = "api/email";

        try
        {
            using var content = JsonContent.Create(_createOrUpdateRoleEmailUserModel);

            using var response = await _client.PatchAsync(PATCH, content);

            var resultErrors = await response.TryGetErrors();

            if (resultErrors.ContainsError)
            {
                Errors.AddRange(resultErrors.ErrorsMessages);
                return false;
            }

            Suc.Add("Configuração de e-mail atualizada com sucesso.");
            return true;
        }
        catch
        {
            Errors.Add("Falha ao atualizar.");
            return false;
        }
    }

    private async Task<IEnumerable<QueryRoleEmailUserViewModel>> TryGetFromUser()
    {
        const string GET = "api/email";

        try
        {
            using var result = await _client.GetAsync(GET);

            var resultErrors = await result.TryGetErrors();

            if (resultErrors.ContainsError)
            {
                Errors.AddRange(resultErrors.ErrorsMessages);
                return _rolesEmails;
            }

            if (result.StatusCode == System.Net.HttpStatusCode.NoContent)
            {
                return _rolesEmails;
            }

            return await result.Content.ReadFromJsonAsync<IEnumerable<QueryRoleEmailUserViewModel>>()
                ?? _rolesEmails;
        }
        catch
        {
            Errors.Add("Erro durante coleta de e-mails do usuário.");
            return _rolesEmails;
        }
    }

    private async Task<IEnumerable<EmailTypeViewModel>> TryGetAvailables()
    {
        const string GET = "api/email/Availables";

        try
        {
            using var result = await _client.GetAsync(GET);

            var resultErrors = await result.TryGetErrors();

            if (resultErrors.ContainsError)
            {
                Errors.AddRange(resultErrors.ErrorsMessages);
                return _mailsAvailables;
            }

            if (result.StatusCode == System.Net.HttpStatusCode.NoContent)
            {
                return _mailsAvailables;
            }

            return await result.Content.ReadFromJsonAsync<IEnumerable<EmailTypeViewModel>>()
                ?? _mailsAvailables;
        }
        catch
        {
            Errors.Add("Erro durante coleta de e-mails.");
            return _mailsAvailables;
        }
    }

    private void ClearAlerts()
    {
        Errors.Clear();
        Suc.Clear();
        Infos.Clear();
    }

    private void ChangeInputEmailConfig(ChangeEventArgs e, string role)
    {
        var addValue = e.Value as bool?;

        if (!addValue.HasValue)
        {
            Errors.Add("Falha ao adicionar regra de e-mail usuário.");
            return;
        }

        _createOrUpdateRoleEmailUserModel.Roles.Remove(role);

        if (addValue.Value)
            _createOrUpdateRoleEmailUserModel.Roles.Add(role);
    }
}
