@using MonitorPet.Ui.Shared.Model.Agendamento

<EditForm Model="CreateModel" OnValidSubmit="(async()=>await OnValid.InvokeAsync(CreateModel))">
    <div class="input-group mb-2 text-center">
        <div class="input-group-prepend">
            <label class="input-group-text" for="form-select-day">Dia da semana</label>
        </div>
        <select class="form-control" id="form-select-day">
            @foreach (var day in _dayOfWeek)
            {
                <option value="@day.Key" selected="@(day.Key==CreateModel.DiaSemana)">@day.Value</option>
            }
        </select>
    </div>
    <div class="input-group mb-3 text-center">
        <div class="input-group-prepend">
            <label class="input-group-text" for="select-hour">Hora e minuto</label>
        </div>
        <select class="form-control text-center" id="select-hour">
            @for(int hour = 0; hour < 24; hour++)
            {
                <option value="@hour" selected="@(hour==_hour)">@hour.ToString().PadLeft(2, '0')</option>
            }
        </select>
        <span class="input-group-text"> : </span> 
        <select class="form-control text-center" id="select-minute">
            @for (int minute = 0; minute < 24; minute++)
            {
                <option value="@minute" selected="@(minute==_hour)">@minute.ToString().PadLeft(2, '0')</option>
            }
        </select>
    </div>

    @Footer
</EditForm>

@code {
    private static Dictionary<int, string> _dayOfWeek { get; }
        = new Dictionary<int, string>(){
            {0, "Domingo"},
            {1, "Segunda"},
            {2, "Terça"},
            {3, "Quarta"},
            {4, "Quinta"},
            {5, "Sexta"},
            {6, "Sábado"},
                        };

    private int _hour;
    private int _minute;

    [Parameter]
    public CreateAgendamentoViewModel CreateModel { get; set; } = new();

    [Parameter]
    public EventCallback<CreateAgendamentoViewModel> OnValid { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }
}
